@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');

body {
    font-family: 'Comforter', cursive;
    text-align: center;
    padding: 0px;
    height: 200vh;
    /* background-color: #242335; */
    text-decoration: none;


}